<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just Tech News</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="container">
    <div class=".d-flex">
   

      <header>
        <nav>
          <h1>
            <a href="/">The Tech Blog</a>
          </h1>
        </nav>
        <nav>
          {{#if loggedIn}}
          <a href="/">Homepage</a>
          <a href="/dashboard">Dashboard</a>
          <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
          <a href="/">Homepage</a>
          <a href="/dashboard">Dashboard</a>
          <a href="/login">Login</a>
          {{/if}}
        </nav>
        </header>
      </div>
    

          <div class="container">
            <!-- Content here -->
            <main>
            {{{ body }}}
            </main>
          </div>


      <footer class="footer fixed-bottom">
        For any questions, please visit the repo https://github.com/esroleo/mvc-challenge-tech-blog
      </footer>
    
  </div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
<script src="/javascript/idle-timer.js"></script>
{{/if}}


</body>

</html>