<form class="login-form">
    <div>
        <label for="username-login">username:</label>
        <input type="text" id="username-login" />
    </div>
    <div>
        <label for="password-login">password:</label>
        <input type="password" id="password-login" />
    </div>
    <div class="wrapper">
        <button class="btn btn-primary btn-lg" type="submit">Login!</button>
    </div>

</form>

<br>

    <div class="wrapper">
       <button onclick="window.location.href='/signUp'" type="submit" class="btn btn-success btn-lg">Sign up instead!</button>
    </div>

<script src="/javascript/login.js"></script>

